
#menu ul{
	font-family: 'Roboto-Medium', cursive;
	font-size: 14px;
	color: #0f136d;
  width: 200px;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
#menu li {
  width: auto;
  height: 40px;
  line-height: 40px;

  padding: 0 5%;
}
#menu {
	width: 200px;
	border:1px solid silver;
	-moz-box-shadow: 2px 2px 2px #777777;
	-webkit-box-shadow: 2px 2px 2px #777777;
	box-shadow: 2px 2px 2px #777777;
	opacity: .86;
}
.sub-menu {
	width: 200px;
	border:1px solid silver;
	-moz-box-shadow: 2px 2px 2px #777777;
	-webkit-box-shadow: 2px 2px 2px #777777;
	box-shadow: 2px 2px 2px #777777;
}
.sub2-menu {
	width: 200px;
	border:1px solid silver;
	-moz-box-shadow: 2px 2px 2px #777777;
	-webkit-box-shadow: 2px 2px 2px #777777;
	box-shadow: 2px 2px 2px #777777;
}
#menu li a {
  text-decoration: none;

}
#menu li:hover {
  background: silver;
}
#menu ul li {
 position: relative;
}
#menu .sub-menu,#menu .sub-menu .sub2-menu {
 position: absolute;
 left: 200px;
 top: 0;
}
 #menu .sub-menu,#menu .sub-menu .sub2-menu {
 position: absolute;
 left: 200px;
 top: 0;
 display: none;
}
/*#menu1 div:hover #menu {
 display: block;
}*/
#menu li:hover .sub-menu {
 display: block;
}
#menu .sub-menu li:hover .sub2-menu {
 display: block;
}