*{
	box-sizing: border-box;
}

.menu {
	padding: 30px;
	font-size: 50px;
	position-left: 100px;
}
.image img{
	width: 250px;
	height: 180px;
}
.image {
	margin: 30px;
	border-style: ridge;
	border-radius: 5px;
	float:right;
	overflow: hidden;
	padding: 5px ;
	-moz-box-shadow: 7px 7px 7px #777777;
	-webkit-box-shadow: 7px 7px 7px #777777;
	box-shadow: 7px 7px 7px #777777;

}
body{
	background: rgb(133,127,127);
	background: linear-gradient(90deg, rgba(133,127,127,1) 0%, rgba(245,238,238,1) 100%);
}
.wrap {
	max-width: 1000px;
	margin: auto;
}
img {
	max-width: 100%;
	position: relative;
   
    overflow: hidden;
}

img:hover {
	color: red;
}
.menu {
	background-color: blue;
	padding-left: 35%;
border: 5px solid red;
border-radius: 999px;
box-sizing: content-box;
margin: auto;
-moz-box-shadow: 17px 17px 17px #777777;
	-webkit-box-shadow: 17px 17px 17px #777777;
	box-shadow: 17px 17px 17px #777777;
}