*{
	box-sizing: content-box;
}
button{
	height: 3em;
	width: 5em;
	border-radius: 10px;

}
input{
	height: 2em;
	width: 100%;
	grid-column: 1/5;
	font-size: 2em;
	margin: 2px auto;
	border-radius: 10px;
}
.container{
	margin: 0 auto;
	border-radius: 10px;
	grid-gap: 0.2em 0.2em;
	display: grid;
	grid-template-columns: repeat(4,5em);
	grid-template-rows: (4,7em);
	justify-content: center;
}
.button{
margin: 0 auto;
	border-radius: 10px;
	grid-gap: 0.2em 0.2em;
	display: grid;
	grid-template-columns: repeat(4,5em);
	grid-template-rows: (4,7em);	
}